b/* reset css  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
html{
    font-family: Arial, Helvetica, sans-serif;
}
#ropber{

}
body{
    /* margin: 0!important; */
}
#header{
    height: 60px;
    padding: 0;
    background-color: #000;
}

#nav{
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav li {
    display: inline-block;
    position: relative;
}
#nav > li > a{
    color: #fff;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    padding: 0 40px;
    display: inline-block;
}
#nav >  li:hover > a{
    color: #000;
    background-color: #ccc; 
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav a{
    color: #000;
}

#slider{
    min-height: 500px;
    background-color: #fff;

}

#content{

}

#footer{

}